/* Imports fonts from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Noto+Color+Emoji&family=Open+Sans&family=Source+Serif+4:ital,opsz,wght@0,8..60,400;0,8..60,700;1,8..60,400;1,8..60,700&display=swap');

.emoji {
	font-family: "Noto Color Emoji", sans-serif;
	font-size: 256px;
}

.banner {
	/* Special event banner with khaki background. */
	background-color: khaki;
}

.instructions {
	/* Instruction banner */
	background-color: darkorange;
}

.main {
	/* Wheat coloured backing for main page */
	background-color: wheat;
}

.mainHeader {
	/* Magenta coloured header */
	background-color: magenta;
}

.experimental {
	/* Orange body for KaTeX page */
	background-color: orange;
}

.experimentalHeader {
	/* Lime green header for KaTeX page */
	background-color: limegreen;
}

.graphHeader {
	/* Tomato header for Graphinator */
	background-color: tomato;
}

.alignment {
	/* Centre alignment class */
	text-align: center;
}

.divAlignment {
	/* Alignment class for divs */
	margin: auto;
}

.emojiHeader {
	background-color: lightskyblue;
}

.emojiText {
	background-color: lightseagreen;
}

p {
	/* Source Serif for body copy. Centre align also there. */
  font-family: 'Source Serif 4', serif;
	text-align: center;
	font-size: 12pt;
	padding: 10px;
}

h1 {
	/* Open Sans for header */
  font-family: 'Open Sans', sans-serif;
	text-align: center;
}
